*{
	margin: 0;
	padding: 0;
	overflow: hidden;
	box-sizing: border-box;
    list-style: none;
    font-family: calibri;
    text-decoration: none;
}


/* ----------- HEADER ---------------- */
header{
    height: 100vh;
    background-image: url(img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-color: green; */
}

nav{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
}

nav a {
    margin: 1em;
    text-decoration: none;
    z-index: 99;
    color: yellow;
    /* text-shadow: 0px 0px 1px black; */
}

nav ul a:hover{
    color: white;
}

#logo{
    padding: 0.5em 2em;
    border: 1px solid yellow;
    border-radius: 2em;
    position: fixed;
}

#head-text{
    height: 90vh;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#text-area{
    position: relative;
    text-align: center;
    line-height: 2.5em;
    color: yellow;
}

#text-area p:nth-child(1){
    font-size: 2em;
    font-weight: bold;
}

#text-area p:nth-child(2){
    font-weight: 300;
    font-size: 1em;
    margin-bottom: 0.6em;
}

#email{
    background-color: transparent;
    outline: none;
    border: 1px solid black;
    height: 2em;
    text-align: center;
    display: block;
}

#email:focus{
    border: 1px solid transparent;
}

#submit-btn{
    width: 7em;
    display: block;
    margin: 1em auto;
    padding: 0.6em;
    background: transparent;
    text-align: center;
    border-radius: 2em;
    border: 1px solid transparent;
    background-color: yellow;
}

#submit-btn:hover{
    color: yellow;
    border: 1px solid yellow;
    background: transparent;
    cursor: pointer;
}

::placeholder{
    color: black;
}

.fa-solid{
    display: none;
    position: absolute;
}

/* ---------- MEDIA_QUERY ---------------- */
@media all and (max-width: 500px){
    nav ul a {
        display: none;
    }

    nav{
        justify-content: center;
    }

    header{
        background-image: url(img/phoneback.jpg);
    }

    .fa-solid{
        color: yellow;
        top: 75vh;
        transform: scale(2);
        display: block;
    }
}

@media all and (min-width: 500px){
	.fa-solid{
		opacity: 0;
		display: none;
	}
}	
